version: '3.8'

services:
  sqlite:
    image: nouchka/sqlite3:latest
    container_name: my-trello-sqlite
    volumes:
      - ./data:/data
    stdin_open: true
    tty: true
    restart: unless-stopped
